<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Ada_ai</title>
  </head>
  <body>
    <!-- chatBox  -->
    <div class="wrapper">
        <div class="main2">
          <div class="container">

            <h1 class="heading">Introducing <span class="h-w">AdaGPT<span></h1>
            <br>
            <br>
            <br>
            <p class="h-text">
               The groundbreaking AI tool developed to bridge the gap between artificial intelligence and the world of botany. With its sophisticated language processing capabilities and extensive knowledge in plant sciences, AdaGpt emerges as the go-to solution for professionals in the field, offering unparalleled insights, analysis, and assistance in the study and exploration of botanical phenomena. Whether it's taxonomy, ecology, or plant morphology, AdaGpt stands 
                as a virtual botanist, empowering researchers, educators, and enthusiasts with an unprecedented level of botanical expertise.<br>
                <a href="{{ url_for('static', filename='ada.html') }}" class="btn h-b" role="button" aria-pressed="true">Try AdaGpt</a><br>
                This project is made for educational purpose only.
            </p>    
          </div>
        </div>
    </div>
     <!-- chatBox-end  -->

        

       
   
<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>